*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./components/images/fondo.jpg);
}

.title{
    text-align: center;
    color: rgb(223, 192, 18);
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background: rgba(13, 27, 226, 0.7);

}

.counter{
    width: fit-content;
    background-color: gold;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.container{
    text-align: center;
    background: rgba(13, 27, 226, 0.7);

}
.nav__item{
    color: rgb(223, 192, 18);
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
}

.nav__a{
    color: rgb(223, 192, 18);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav__cart{
    color: rgb(223, 192, 18);
    font-size: 30px;
}

.film {
    display: block;
    width: 300px;
}
.film img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


